*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.main{
    background-color:peru;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: khaki;
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}

.topnav{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: black;
}  

ul li.active a{
    color: black;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid khaki;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: khaki;
    border: 1px solid khaki;
    margin-top: 12px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    color: white;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
} 














.wrapper{
    width: 100%;
    padding:10px;
}

.content h6{
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: darkgreen;
}

.content p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.boxxes{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex; 
}

.boxx1{
    width: 50%;
    float: left;
}

.boxx1 form{
    padding-left: 120px;
    padding-top: 25px;
}

.boxx1 form h4{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.boxx2{
    width: 50%;
    float: right;
}

.boxx2 h2{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boxx2 h3{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boxx2 h5{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boxx2 h4{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.terms{
    padding-right: 100px;
}























footer{
    background-color: black;
    height: 15vh;
} 

.wrapper{
    width: 100%;
}

.boxess{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap:wrap;
}

.box1{
    width:25%;
}

.box1 h2{
    font: bold 25px georgia;
    text-decoration: none;
    margin-left: 23%; 
    color: peru;
    padding: 10px 10px;
}

.box1 p{
   font: bold 15px georgia;
   text-decoration: none;
   display: block;
   margin-left: 30%; 
   color: white;
}

.box1 a{
    text-decoration: none;
    color: white;
}

.box1 a:hover{
    color:peru; 
    text-decoration: underline;
}

.box2{
    width: 20%;
}

.box2 h3{
     font: bold 25px georgia;
     text-decoration: none;
     margin-left: 30%; 
     color: peru;
     padding: 10px 10px;
}

.box2 p{
    font: bold 15px georgia;
    text-decoration: none;
    display: block;
    margin-left: 30%; 
    color: white;
}

.box3{
    width: 20%;
}

.box3 h4{
     font: bold 25px georgia;
     text-decoration: none;
     margin-left: 20%; 
     color: peru;
     padding: 10px 10px;
}

.box3 p{
    font: bold 15px georgia;
    text-decoration: none;
    display: block;
    margin-left: 35%; 
    color: white;
}

.box4{
    width:33.3%;
}

.box4 h5{
    font: bold 20px georgia;
    text-decoration: none;
    text-align: center;
    color: peru;
    padding-top: 10px;
}

.box4 i{
    color: white;
    padding: 30px 0px;
    float:left ;
    margin-left: 70px;
    display: inline;
}

.fa-facebook:hover{
    color: rgb(34, 61, 212);
    transition: 0.2s;  
}

.fa-instagram:hover{
    color: rgb(158, 42, 81);
    transition: 0.2s;  
}

.fa-twitter:hover{
    color: rgb(34, 61, 212);
    transition: 0.2s;  
}

.fa-tiktok:hover{
    color: rgb(214, 202, 202);
    transition: 0.2s;  
}

.fa-google:hover{
    color: rgb(233, 24, 24);
    transition: 0.2s;  
}


